@import "tailwindcss";

@theme inline {
  --font-quantico: var(--font-quantico);
  --font-start-2p: var(--font-start-2p);
}

:root {
  scroll-behavior: smooth;
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}
